<div class="profile-modal-backdrop" style="z-index: 1000;" *ngIf="isOpen" (click)="closeProfile()">
  <div class="profile-modal-content" (click)="stopPropagation($event)">
    <div class="profile-header">
      <div class="image-container">
        <img [src]="formData.image || user?.image || 'assets/profile.jpg'" alt="Profile" class="profile-img">
        <label *ngIf="editing" class="upload-btn">
          📷
          <input type="file" (change)="onFileSelected($event)" hidden>
        </label>
      </div>
      <h2 *ngIf="!editing">{{ user?.Full_Name }}</h2>
      <input *ngIf="editing" [(ngModel)]="formData.Full_Name" placeholder="Full Name">
    </div>

    <div class="profile-details">
      <div *ngIf="!editing">
        <p><strong>Username:</strong> {{ user?.Username }}</p>
        <p><strong>Email:</strong> {{ user?.Email }}</p>
        <p><strong>Contact:</strong> {{ user?.Contact_Number }}</p>
        <p><strong>Address:</strong> {{ user?.Address }}</p>
        <p><strong>Role:</strong> {{ user?.Role }}</p>
      </div>
      <div *ngIf="editing">
        <input [(ngModel)]="formData.Username" placeholder="Username">
        <input
  [(ngModel)]="formData.Contact_Number"
  placeholder="Contact Number"
  maxlength="11"
  (keypress)="onContactKeyPress($event)"
/>

       <input [(ngModel)]="formData.Address" placeholder="Address">
      </div>
    </div>

    <div class="modal-footer">
      <button *ngIf="!editing" (click)="editProfile()">Edit</button>
      <button *ngIf="editing" (click)="saveProfile()">Save</button>
      <button *ngIf="editing" (click)="cancelEdit()">Cancel</button>
      <button *ngIf="!editing" (click)="logout()" style="background-color: red; ">Logout</button>
      <button (click)="closeProfile()">Close</button>
    </div>

  </div>
</div>
