<div class="login-page">
  <div class="login-card">
    <h2>Login to Your Account</h2>

    <form (submit)="login(); $event.preventDefault()">
      <div>
        <label>Email</label>
        <input type="email" placeholder="Enter your email" [(ngModel)]="email" name="email" required />
      </div>

      <div>
        <label>Password</label>
        <input type="password" placeholder="Enter your password" [(ngModel)]="password" name="password" required />
      </div>

      <button type="submit">Login</button>
    </form>

    <p>{{ message }}</p>

    <div class="bottom-text">
      <span>Don't have an account?</span>
      <button (click)="goToRegister()">Register</button>
    </div>
  </div>
</div>
