<div class="modal" *ngIf="isOpen">
  <div class="modal-content">
    <button class="close" (click)="closeModal()">&times;</button>

    <h2 class="modal-title">Login</h2>

    <form (ngSubmit)="login()" class="modal-form">
      <input type="text" name="email" placeholder="Email" [(ngModel)]="credentials.email" class="modal-input">

      <!-- Password input with eye icon -->
      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          placeholder="Password"
          [(ngModel)]="credentials.password"
          class="modal-input">

        <button type="button" class="show-password-btn" (click)="togglePassword()">
          {{ showPassword ? '👁️' : '🙈' }}
        </button>
      </div>


      <button type="submit" class="modal-btn">Login</button>
    </form>

    <p class="modal-footer">
      Don't have an account?
      <button (click)="openRegister()" class="modal-link">Sign up here</button>
    </p>
  </div>
</div>
